* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;

  &__header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    color: #002756;
  }

  &__icon {
    width: 48px;
    height: 48px;
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
  }

  &__button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #B721FF;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    user-select: none;
    cursor: pointer;
    padding: 0;
  }

  &__item {
    position: relative;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; // Добавляем отступ между задачами

    &::before {
      content: '';
      position: absolute;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-image: url('../images/unchecked.png');
      background-size: cover;
      background-position: center;
      left: 0;
      top: 6px;
    }

    &--checked {
      color: #555;
      text-decoration: line-through;

      &::before {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url('../images/checked.png');
        background-size: cover;
        background-position: center;
        left: 0;
        top: 6px;
      }

      & span {
        color: #aaa; // Меняем цвет крестика при выполненной задаче
      }
    }
  }

  &__item-remove {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #555;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: #edeef0;
    }
  }
}
